.fila1{
	background-color: black;
	height: 50px;
}
.fila3{
	padding-top: 30px;
	height: 426px;
	background-color: black;
}
.fila4{
	padding-top: 50px;
	height: 450px;
	background-color: black;
}
.fila5{
	background-color: black;
}
.col1{
	color: white;
	text-align: center;
	padding-top: 12px;
}
.col2{
	padding-top: 5px;
}
.col3{
	text-align: center;
}
.col33{
	text-align: center;
}
.col4{
	height: 355px;
	background-color: white;
	margin-top: 12px;
	margin-left: 10px;
	margin-right:10px;
	border-radius: 20px;
}
.col5{
	height: 355px;
	background-color: white;
	margin-top: 12px;
	margin-left: 10px;
	margin-right:10px;
	border-radius: 20px;
}
.colortext{
	color: white;
}
.colortext1{
	color: white;
}
.textfinal1{
	padding-top: ;
	color: white;
}
.textfinal2{
	color: white;
}
.img1{
	padding-top: 12px;
	height: 40px;
	margin-right: 15px;
}
.img2{
	padding-top: 12px;
	height: 40px;
	margin-right: 15px;
}
.img3{
	padding-top: 12px;
	height: 40px;
}
.celu{
	margin-top: 20px;
	height: 100px;
}
.celu1{
	color: black;
	margin-top: 20px,
}
.celu2{
	color: black;
	margin-top: 20px;
	
}
.celu3{
	margin-top: 20px;
}
































